.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.banner {
  padding: 0px 60px;
  overflow: hidden;
  #header-content {
    display: flex;
    align-items: center;
  }

  #header-content {
    margin: 0px 40px;
  }
  .content {
    text-align: left;
    position: relative;
    #text-img img {
      height: 10px;
      width: 200px;
    }
    #text-img {
      position: absolute;
      top: 80px;
      left: 200px;
      z-index: -1;
    }

    h6 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      color: #df6951;
    }
    h1 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 74px;
      line-height: 72px;
      color: #181e4b;
    }
    p {
      margin-top: 20px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height */

      color: #5e6282;
    }
  }
}

#button-group {
  margin-top: 30px;
  display: flex;
  align-items: center;
  div {
    display: flex;
    align-items: center;
  }
  #find-btn {
    width: 170px;
    height: 60px;
    background-color: #f1a501;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    border: none;
    color: #ffffff;
    border-radius: 10px;
  }
  #ply-btn {
    width: 45px;
    height: 45px;
    background-color: #df6951;
    border: none;
    border-radius: 50%;
    margin: 0px 15px;
  }
}
