#suppotedLogo {
  margin: 80px 0px;
  padding: 0px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  #suppotedLogo {
    flex-direction: column;
  }
}
