#selling {
  padding: 0px 80px;

  h6 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 0px;
    color: #5e6282;
    text-align: center;
  }
  h3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 0px;
    text-align: center;
    color: #14183e;
  }
  .card-group {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
  }
  .card {
    /* Add shadows to create the "card" effect */
    position: relative;
    z-index: 1;
    width: 315px;
    height: 457px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;

    /* 5px rounded corners */
    /* Add some padding inside the card container */

    /* Add rounded corners to the top left and the top right corner of the image */
    #imgg {
      position: absolute;
      top: 80px;
      right: -70px;
    }
    img {
      border-radius: 15px 15px 0px 0px;
      width: 100%;
      height: 75%;
    }

    .container {
      padding: 2px 16px;
      p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height */

        color: #5e6282;
      }
      .top {
        display: flex;
        justify-content: space-between;
        #rome {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
          /* identical to box height */

          color: #5e6282;
        }
        #value {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
          /* identical to box height */

          color: #5e6282;
        }
      }
    }
  }

  /* On mouse-over, add a deeper shadow */
}
